v1/schema/xml/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://openedup.org/schema/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="ApiInfo" type="v1:ApiInfoType" xmlns:v1="http://openedup.org/schema/v1"/>

    <xs:element name="User" type="v1:UserType" xmlns:v1="http://openedup.org/schema/v1"/>

    <xs:complexType name="ApiInfoType">
        <xs:sequence>
            <xs:element type="xs:string" name="organization"/>
            <xs:element type="xs:string" name="systemName"/>
            <xs:element type="xs:string" name="environment"/>
            <xs:element type="xs:string" name="description"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="version"/>
        <xs:attribute type="xs:string" name="openedupVersion"/>
    </xs:complexType>

    <xs:complexType name="UserType">
        <xs:sequence>
            <xs:element type="xs:string" name="email" minOccurs="0"/>
            <xs:element type="xs:string" name="firstName" minOccurs="0"/>
            <xs:element type="xs:string" name="lastName" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="uuid" use="required"/>
        <xs:attribute type="xs:string" name="active" use="required"/>
    </xs:complexType>

</xs:schema>